@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ASP.NET core Webpage</h1>
    <p>In this webpage is connected to backend</p>
</div>
